OPENAI_API_KEY=...
ANTHROPIC_API_KEY=...
GOOGLE_API_KEY=...
DEEPSEEK_API_KEY=...
GROQ_API_KEY=...
NVIDIA_NIM_KEY=...



POSTGRES_HOST=...
POSTGRES_PORT=...
POSTGRES_USERNAME=...
POSTGRES_PASSWORD=...
POSTGRES_DBNAME=...
PROCEDURE_CLIENT_KEY=...
PROCEDURE_COMPANY_KEY=...
PROCEDURE_LANG=...